logs
nohup.out
tmp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
nb-configuration.xml

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
.flattened*
deploy/k8s/ingress
deploy/k8s/config
deploy/dc/docker-compose.override.yml
